{% comment %}
  TODO: Add Tailwind CSS correctly.
{% endcomment %}
<script async src="https://cdn.tailwindcss.com"></script>
<script defer src="{{ 'bundle.js' | asset_url }}"></script>
<div id="shocoor-cart-block">Should load here</div>

{% schema %}
{
  "name": "ShoCoor Cart",
  "target": "section"
}
{% endschema %}
